<div class="container-fluid nav">
  <nav class="nav">
    <span><a class="active text-white" href="/" style="font-weight: bold;">TSP</a> </span>
    <span th:if="${loggedIn == 'false'}">
      <a href="/login" style="font-weight: bold;" class="text-white">Login</a>
      <a href="/register" style="font-weight: bold;" class="text-white">Register</a>
    </span>
    <span th:if="${loggedIn != 'false'}">
      <a href="/user" class="text-white">Profile</a>
      <a href="/logout" class="text-white">Logout</a>
      <a href="/viewLoans" class="text-white">Current Loans</a>
      <a href="/loanHistory" class="text-white">Loan History</a>
    </span>
    <div class="search-container pull-right" style="padding-left:20px; padding-top:5px">
      <form method="POST" action="/search">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit" class="text-white">Go</button>
      </form>
    </div>
  </nav>
</div>